@font-face {
    font-family: 'Hind';
    src: url(../fonts/Hind/Hind-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Hind';
    src: url(../fonts/Hind/Hind-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Hind';
    src: url(../fonts/Hind/Hind-Regular.ttf);
    font-weight: normal;
}

body {
	margin: 0;
	padding: 0;
	background: #ddd;
	font-size: 17px;
	font-family: 'Hind', Arial;
}
table {
	width: 100%;
}
th {
	text-align: left;
}
td {
	text-align: right;
}

.clear {
	clear: both;
}
.section {
	margin-bottom: 20px;
}
h2 {
	margin: 5px 0;
	padding: 0;
}
p.success {
	border: 1px solid #2a2;
	background: #afa;
	margin: 0 auto 10px;
	padding: 10px;
	max-width: 900px;
}
.error {
	border: 1px solid #a22;
	background: #faa;
	margin: 0 0 10px;
	padding: 10px;
	max-width: 900px;
}

.content {
	padding: 10px;
}

a.action {
	display: block;
	background: #E2007F;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}
a.action.small {
	width: 42px;
	height: 42px;
	padding: 0;
	display: inline;
	outline: none;
	float: right;
}
a.action.small img {
	width: 26px;
	height: 26px;
	margin: 8px;
	outline: none;
	border: 0;
}
input, textarea, select {
	font-size: inherit;
	font-family: inherit;
	background: #eee;
	border: 1px solid #ccc;
	padding: 9px;
	margin: 0 -10px;
	display: block;
	width: 100%;
}
input[type="checkbox"], input[type="radio"] {
	display: inline;
	margin: 0;
	width: auto;
}
select {
	margin: 0;
}
textarea {
	height: 100px;
}
input.action {
	background: #E2007F;
	margin: 5px 0;
	width: 100%;
	color: #fff;
	font-weight: bold;
	padding: 20px;
	border: 0;
}
.top-bar {
	height: 50px;
	background: #444;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.top-bar a.button {
	float: left;
	border-right: 1px solid #666;
	width: 50px;
	height: 50px;
	z-index: 11;
	position: relative;
}
.top-bar a.button.right {
	float: right;
	border-right: 0;
	border-left: 1px solid #666;
}
.top-bar a.button.action {
	background: #E2007F;
	padding: 0;
}
.top-bar a.button img {
	width: 20px;
	height: 20px;
	margin: 15px;
	border: 0;
}
.top-bar a.button.logo {
	background: #fff;
}
.top-bar a.button.logo img {
	width: 34px;
	height: 34px;
	margin: 8px;
}
.top-bar span {
	height: 16px;
	padding: 15px;
	color: #fff;
	display: block;
	float: left;
	position: absolute;
	left: 45px;
	z-index: 10;
	overflow: hidden;
}
.top-push {
	height: 50px;
}

ul.list {
	list-style-type: none;
	padding: 0;
	margin: 1px -10px;
}
ul.list li {
	background: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 3px;
	list-style-type: none;
}
ul.list.nonlink li {
	padding: 10px;
}
ul.list.nonlink li.input-wrapper {
	padding: 10px 20px;
}
ul.list li a {
	padding: 10px 10px 10px 15px;
	display: block;
	color: #444;
	text-decoration: none;
	min-height: 23px;
}
ul.list li a.done {
	border-left: 10px solid #2a2;
	padding-left: 5px;
}
ul.list li span {
	float: right;
	color: #777;
}
ul.list li a span.info {
	width: 40%;
	float: right;
}
ul.list li a span.info span {
	width: 40%;
	float: left;
	text-align: right;
}
ul.list li a span.info span.quantity {
	width: 40%;
}
ul.list li a span.info span.sum {
	width: 60%;
}
ul.list li.active {
	color: #fff;
	background: #E2007F;
}
ul.list li.active a {
	color: #fff;
}
ul.list li span.name {
	float: left;
	width: 60%;
}
ul.list li .more span {
	margin: 10px;
}


.more {
	border-top: 1px solid #ccc;
	display: none;
}
.more .button {
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	border: 0;
	padding: 0;
	border-right: 1px solid #ccc;
}
.more .button img {
	width: 30px;
	height: 30px;
	margin: 10px;
}
.more .button.check {
	background: #2a2;
}
.more .button.bad {
	background: #444;
}
input[type="submit"] {
	background: #E2007F;
	color: #fff;
	display: none;
	margin: 0 auto;
}
input[type="submit"].display {
	display: block;
}
ul.list li span.label {
	float: left;
	width: auto;
	margin-left: -10px;
	color: #000;
}
ul.list li a span.info span.unitprice {
	display: none;
}
span.label {
	font-weight: bold;
	color: #000;
}
.col {
	width: 50%;
	float: left;
}
.col.left .ic {
	margin-right: 13px;
}
.col.right .ic {
	margin-left: 13px;
}


@media all and (min-width: 600px) {
	.top-bar {
		height: 70px;
		z-index: 6;
	}
	.inner {
		max-width: 900px;
		margin: 0 auto;
		position: relative;
		z-index: 5;
	}
	.top-bar span {
		font-size: 1.6em;
		left: 80px;
		height: 30px;
	}
	.top-bar a.button {
		width: 70px;
		height: 70px;
		border-left: 1px solid #666;
	}
	.top-bar a.button.right {
		border-right: 1px solid #666;
	}
	.top-bar a.button img {
		width: 40px;
		height: 40px;
		margin: 15px;
	}
	.top-bar a.button.logo img {
		width: 50px;
		height: 50px;
		margin: 10px;
	}
	.top-bar a.save {
		display: none;
	}
	.top-push {
		height: 70px;
	}

	a.action {
		width: 400px;
		font-size: 1.2em;
		margin: 0 auto;
	}
	ul.list {
		max-width: 400px;
		margin: 0 auto;
	}
	ul.list.shopping {
		max-width: none;
	}
	input[type="submit"] {
		width: 400px;
		margin: 0 auto;
		display: block;
	}
	.first-page {
		margin: 0 auto;
	}
	.first-page ul.list {
		max-width: none;
	}
	.first-page .section {
		float: left;
		width: 30%;
		margin: 0 1.5%;
	}
	.first-page .section.shopping {
		display: block;
		margin: 0 -8px 30px;
		float: none;
		width: 100%;
		padding: 30px 15px 30px 0;
		border-bottom: 5px solid #ccc;
	}
	.first-page .section.shopping a.action {
		font-size: 2em;
	}
	.small {
		width: 400px;
		margin: 0 auto;
	}

	ul.list li a span.info {
		width: 40%;
	}
	ul.list li span.name {
		width: 60%;
	}
	ul.list li a span.info span.unitprice {
		display: inline-block;
	}
	ul.list li a span.info span.quantity {
		width: 30%;
	}
	ul.list li a span.info span.unitprice {
		width: 30%;
	}
	ul.list li a span.info span.sum {
		width: 40%;
	}
}